<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NFReports</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!--link rel="stylesheet" href="css/foundation.min.css"-->
    <link rel="stylesheet" href="css/raffler.css">
</head>
<body>
    <div class="container-fluid" ng-app="helloApp">

        <div class="row-fluid">

            <!--Sidebar content-->
            <div class="span2">
                <div ng-controller="MenuCtrl">
                    <div menu></div>
                </div>
            </div>

            <!--Body content-->
            <div class="span10">
                <div ng-view></div>
            </div>

        </div>
    </div>

    <!-- AngularJS files -->

    <!-- Project specific JS files -->
    <script src="js/menu.js"></script>

</body>
</html>